<%-include("./head.ejs") %>
<div class="topnav" id="myTopnav">
    
    <a href="/" class="active">Pearls<span>blog</span></a>
    <div class="pages">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/add">Add</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </div>

    </div>
    
